# Next.js build output
.next/
out/

# Dependencies
node_modules/

# Environment variables
.env
*.local

# OS files
.DS_Store
Thumbs.db

# Firebase logs
firebase-debug.log*
firestore-debug.log*
ui-debug.log*
